

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=WoWork Sanss:400,700&display=swap');
/*****---------------------------------------- 1) font-family: 'Work Sansni', sans-serif;
 2) font-family: 'Work Sanss', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(../assets/css/animate.min.css);
@import url(../assets/css/normalize.css);
@import url(../assets/css/meanmenu.css);
@import url(../assets/css/slick.css);
@import url(../assets/css/jquery.fancybox.min.css);
@import url(../assets/css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/


* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
     
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Work Sans', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     
     
     
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}
.navigation.navbar ul {
     display: flex;
}

.navbar ul li a.search {
     margin-top: 6px;
     bottom: 6px;
     position: relative;
     right: 70px;
     top: -2px;

}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
}

#navbarsExample04 > ul > li:nth-child(2) {
     z-index: 999;
}

body > section > div > div > div:nth-child(2) > div {
     margin-top: 60px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fdd430;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background: #EDB506;
     width: 100%;
     padding: 40px 40px 40px 40px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.banner_main {
     background: #EDB506;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     /* padding-bottom: 90px; */
}

.text-bg h2 {
     color: #2A1400;
     font-size: 24px;
     line-height: 1.5;
     padding-bottom: 25px;
     /* font-weight: bold; */
}

.search-box {
     display: flex;
     position: relative;
     left: 55px;
}
#navbarsExample04 > ul > li:nth-child(1) > div > input {
     width: 350px;
     min-width: 300px;
     border-radius: 45px;
     border: none;
     text-align: right;
     padding-right: 70px;
     font-size: 22px;
     color: rgba(42,20,0,.1);
     color: #2A1400;
}

.text-bg span {
     color: #fdd430;
     font-size: 40px;
     line-height: 35px;
     font-weight: bold;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
}

.text-bg a {
     font-size: 24px;
     background-color: #336A00;
     font-weight: bold;
     color: #FFF;
     padding: 10px 0px;
     width: 100%;
     max-width: 370px;
     text-align: center;
     display: inline-block;
     border-radius: 45px;
}


.text-bg a:hover {
     background-color: #47ca10;
     color: #fff;
}

figure {
     margin: 0 !important;
}

body > section:nth-child(3) > div > div > div.title{
     display:flex;
}

.text-img figure {
     margin: 0px;
}

body > div.hosting > div > div:nth-child(1) > div:nth-child(1) > div > h4 {
     color: #EDB506;
     font-size: 26px;
     font-weight: bold;
     text-align:left;
}

.long-text {
     color: #FFF;
     text-align: left;
}

.long-text p {
     margin-bottom: 10px;
     font-size: 16px;
}

.go-to-catalog {
     color: #95FF32;
     font-size: 16px;
}

.go-to-catalog:hover {
 color: #FFEE32;
}


.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0c0f38;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}

.detalle-producto {
     padding-top: 60px;
     background-color: #EDB506;
}

.detalle-producto .long-text p {
     color: #2A1401;
     line-height: 1.5;
     font-weight: normal;
     font-size: 14px;
}

.productos-destacados {
     padding:25px;
}

.productos-destacados .title {
     display: flex;
}

.row.d_flex {
     margin-bottom:0px;
}

.ver-mas {
     margin-left: 9px;
     margin-top: 3px;
     color: #336A00;
     font-size: 13px;
     font-weight: bold
}

.productos-destacados h2 {
     font-size: 21px;
     font-weight: bold;
     color: #6A3100;
}

.product {
     margin: 0px;
     line-height: 24px;
     font-weight: bold;
}

.product p {
     font-size: 17px;
     font-weight: bold;
}

.product p.name {
     
     color: #6A3100;
}

.product p.price {
     color: #000;
}

/** Hosting section **/

.hosting {
     padding-top: 60px;
     background: #2A1401;
}


.web_hosting {
     text-align: center;
}

.web_hosting figure {
     margin: 0;
}

.web_hosting p {
     color: #0c0f38;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 50px;
}

.web_hosting a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.web_hosting a:hover {
     background-color: #2A1401;
     color: #fff;
}


/** end Hosting section **/


/** Services section **/

.Services {
     margin-top: 90px; 
     padding: 60px 0;
     background: #EDB506;
     font-family: PWork Sans;
}

.Services .titlepage {
     text-align: center;
}

.Services .titlepage h2 {
     color: #6A3100;
     /* padding-bottom: 20px; */
}

.Services .titlepage p {
     color: #fff;
}

.Services .Services-box i {
     background: #fff;
    width: 100px;
     height: 100px; 
     border-radius: 50px; 
     display: inline-block;
     padding-top: 35px;
}

#service > div > div:nth-child(1) > div > div {
     font-family: 'Work sans', sans-serif;
}


.Services .Services-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     /* line-height: 25px; */
     color: #6A3100;
     font-weight:bold;
     font-size: 18px;
     font-family: 'Work Sans', sans-serif;
     display: block;
     font-weight: 500;
}

.Services .Services-box {
     text-align: center;
     background-color: white;
     border-radius: 20px;
     border: 2px solid white;
     padding: 40px;
     margin:10px 40px;
     /* margin-bottom: 30px; */
}


.buy:hover {
     background-color: #47ca10;
    color: #fff;
}

.remove-from-cart {
     background-color: rgb(145, 7, 7);
     padding: 15px 30px;
     color: white;
     font-size: 18px;
     font-weight: bold;
     font-family: 'Work-sans', sans-serif;
     border-radius: 50px;
}

.remove-from-cart:hover {
     background-color: rgb(192, 8, 8);
     color: white
}

hr {
     width: 50%;
     margin: 10px 0;
}

/* .product-description {
     margin-top: 60px;
} */

.product-description p {
     color: #6A3100;
     font-weight: bold;
     font-family: 'Work sans', sans-serif;
     font-size: 30px;
     line-height: 1.5
}

.product-description .stock {
     color: #888888;
     font-size: 18px;
}


.product-description .price {
     color: black;
}

.product-description .size,
.product-description .dimensions {
     font-size: 18px;
     color: black;
}
.product-description .dimensions {
     margin-bottom: 20px;
}


.Services .Services-box p {
     font-size: 22px;
     color: #000;
     font-family: 'Work Sans', sans-serif;
     font-weight: bold;
     margin-bottom: 30px;
}

.container-detail {
     background-color: white;
     border-radius: 20px;
}

.Services .Services-box:hover{
     border: 2px solid white;
}

.buy {
     padding: 15px 30px;
     background-color: #336A00;
     color: white;
     font-size: 18px;
     font-weight: bold;
     font-family: 'Work-sans', sans-serif;
     border-radius: 50px;
}

.read_more {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     /* margin-top: 20px; */
}

.read_more:hover {
     background: #8308eb;
     color: #fff;
}


/** end Services section **/


/** why section **/

.why {
     margin-top: 90px;
     background: #ffff;
     font-family: PWork Sans;
}

.why .titlepage {
     text-align: center;
}

.why .titlepage h2 {
     padding-bottom: 20px;
}

.why .titlepage p {
     color: #090808;
}

.why .why-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.why .why-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.why .why-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}

.why .why-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
}


/** end why section **/


/** contact section **/

.contact {
     padding-top: 90px;
     font-family: PWork Sans;
}

.main_form {
     background: #0c0f38;
     padding: 55px 55px;
     border-radius: 30px;
     margin-bottom: -58%;
}

.contact .main_form .contactus {
     border: #fff solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     border-radius: 15px;
     width: 100%;
     height: 52px;
     background: #fff;
     color: #999999;
     font-size: 16px;
}

.contact .main_form .textarea {
     margin-bottom: 25px;
     padding: 0px 19px;
     color: #999999 !important;
     width: 100%;
     border: #fff solid 1px;
     border-radius: 15px;
     padding-top: 38px;
     background: #fff;
}

.contact .main_form .send {
     font-size: 16px;
     transition: ease-in all 0.5s;
     background-color: #fff;
     color: #ef4259;
     padding: 12px 70px;
     margin: 0 auto;
     display: block;
     border-radius: 30px;
}

.contact .main_form .send:hover {
     background-color: #8308eb;
     transition: ease-in all 0.5s;
     color: #fff;
}

#contact *::placeholder {
     color: #999999;
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
}


/** end contact section **/


/** footer **/

.footer {
     font-family: Work Sans;
     background: #0c0f38;
     
}


.cont {
     text-align: center;
     margin-top: 31%;
}

.cont h3 {
     color: #fff;
     font-size: 45px;
     line-height: 30px;
     font-weight: bold;
     padding: 30px 0px 0px 0px;
}

.cont span {
     color: #fff;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}

.copyright {
     padding: 20px 0px;
     background: #2A1401;
}

.copyright p {
     color: #1e1e1e;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #1e1e1e;
}

.copyright a:hover {
     color: #0c0f38;
}


body > footer > div > div.copyright > div > div > div > p {
     color: white;
}
#footer{
     color: white;
}

.mover{
     padding-left:25%;
}
.grandeimg{
     /* height: 180px; */
     width: 180px;
    
}
.Services {
  margin-top:0;
 }
 .titlepage {
     padding-bottom: 1em;
     padding-top:1em;
 }
/** end footer **/
.titlepage{
     background: #EDB506;  
}
.container-buttons{
     display: flex;
     justify-content:stretch;
}
.remove-from-cart{
     margin-left: 10px;
}
.descripcion{
     color: #EDB506;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}
/* .detalle-producto { */
     /* height: calc(100vh - 223px); */
 /* } */

 .input-field {
     width: 80%;
     margin: 10px 55px;
     border-radius: 4px;
     border: 1px solid lightgrey;
     font-size: 18px;
     padding: 5px 10px;
}
​
.container-detail.input-form {
     padding: 35px 0;
}
​
.boton.sign-up {
     padding: 15px 30px;
     background-color: #C10135;
     color: white;
     font-size: 18px;
     font-weight: bold;
     font-family: 'Work-sans', sans-serif;
     border-radius: 50px;
     width: 80%;
     margin: 10px 55px;
     font-size: 20px;
     text-align: center;
}
​
.boton.sign-up:hover {
     background-color: rgb(253, 29, 89);
     color: #fff;
}
​
.boton.sign-in {
     padding: 15px 30px;
     background-color: #336A00;
     color: white;
     font-size: 18px;
     font-weight: bold;
     font-family: 'Work-sans', sans-serif;
     border-radius: 50px;
     width: 80%;
     margin: 10px 55px;
     font-size: 20px;
     text-align: center;
}
​
.boton.sign-in:hover {
     background-color: #47ca10;
     color: #fff;
}
​
.title h2 {
     text-align: center;
     margin-bottom: 30px;
     font-weight: 800;
     font-size: 30px;
     color: #6A3100;
}